.navbar {
  background: linear-gradient(to right, #4f46e5, #3b82f6);
  padding: 15px 0;
  color: white;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

/* Links */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* Auth */
.nav-auth {
  display: flex;
  gap: 15px;
  align-items: center;
}

.login {
  color: white;
  text-decoration: none;
}

.signup {
  background: white;
  color: #4f46e5;
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
}

.user-email {
  font-size: 14px;
}

.logout-btn {
  background: white;
  color: #4f46e5;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}