.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.filters input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters input[type="range"] {
  cursor: pointer;
}

.filters select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}